/*
font-family: 'Raleway', sans-serif;

font-family: 'Shadows Into Light Two', cursive; */

body {
    background-image: url("../images/lightteal.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
    font-family: 'Raleway', sans-serif;
    color: #022c31;
}

a:hover {
    color: #808080;
}

/*----  shared with sections   -----*/

.section-header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Shadows Into Light Two', cursive;
}

.section-container {
    display: flex;
    flex-direction: column;
}


/*----  Name -----*/

#name-container {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.bio-name {
    font-size: 90px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #022c31;
}

.bio-title {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: #022c31;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bio-image {
    height: 300px;
    border-radius: 5px;
    border: 10px solid rgba(255, 255, 255, 0.5);
}

/*----  About -----*/

.about-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center;
    
}

#about-container {
    background-color: white;
    font-size: 20px;
    /* padding-top: 20px; */
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

/*----  Skills ----*/

#skills-container {
    background-color: #022c31;
    color: white;
    height: 380px;
    padding-top: 20px;
}

.skill-content {
    display: flex;
    align-self: center;
    width: 200px;
}

.lang-list-li {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.skill-list-container {
    width: 200px;
}


/*----  Contact -----*/

#contact-container {
    justify-content: center;
    height: 300px;
}

.contact-icons {
    display: flex;
    justify-content: center;
}

.logo {
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

/*----  Placeholder  -----*/

/* .resume-link a{
    text-decoration: none;
}

.resume-link a:hover{
    color: #494646;
}
   */

   /*----  Section 2  -----*/

div .sectionTwo {
    display: block;
    position: relative;
    align-items: center;
    height: 600px;
}

div .sectionTwo::after {
    content: "";
    background-image: url("../images/coffee_blur.png");
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.coffeeSteamText {
    /* background: rgba(255, 255, 255, 0.3);*/
    display: inline-block;
    font-size: 26px;
    padding: 20px;
    /* padding-left: 20px;
    padding-right: 20px;*/
    border-radius: 5px;
    font-family: 'Shadows Into Light Two', cursive;
    z-index: -1;
    /*  margin-bottom: 60px;*/
}

.coffee-div {
    height: 100px;
    display: none;
}

#coffee-div1 {
    margin-top: 20px;
}

#coffee-div7 {
    margin-top: 20px;
}

.coffee-ul {
    width: 300px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}


/*
.bottom-coffee{
  height: 70%;
}*/

.coffee-list-left {
    float: left;
    margin-left: 5px;
}

.coffee-list-right {
    float: right;
    text-align: right;
    margin-right: 5px;
    color: white;
}
